main >.container {
    min-height: unset;
}
body{
    overflow-x:hidden;
    height: 100vh;
    background-image: url(../img/bg1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width:100%;
    background-color: var(--white);
}
.items-container{
    width: 100%;
    position: relative;
    padding-top:20px ;
}
.sorted .bx{
    color: var(--darkblue);
    padding: 10px;
    border-radius: 50%;
    font-size: 1rem;
    background-color:var(--white);
}
.sorted{
    padding: 0.05rem;
    position: absolute;
    right: 0;
}
.sorted button {
    border: none;
    border-radius: 50%;
    text-align: right;
    margin: 0 3px;
}
.sorted button .bx{
    background-color: var(--darkblue);
    color: var(--white);
}
.items-container .sorted-items{
    display: none;
    list-style: none;
    font-size: 0.9rem;
    position: absolute;
    right: 20px;
    top:45px;
    z-index: 5;
    background-color: var(--body);
    border-radius: 25px;
    padding: 5px 0;
    overflow: hidden;
} 
.items-container .sorted-items.opens{
    display: block;
}
.items-container ul li {
    padding: 5px 10px;
}
.items-container ul li:hover {
    color: var(--white);
    cursor: pointer;
    background-color: var(--darkblue);
}
/******Items**********/
.items{
    margin: 10px 0;
    }
.col-12{
    margin: 10px 0;
}
/***card***/
.card-title{
    font-weight: 700;
}
.card.open{
    flex-direction: row;
    max-height: 250px;
    overflow: hidden;
}
.card.open img{
    max-width: 250px;
}
/*********/
.card-btn{
    background-color: var(--orange);
    color: var(--white);
    text-decoration: none;
    padding: 10px 14px ;
    border-radius: 55px;
}
.card-btn:hover{
    background-color: var(--white);
    color: var(--darkblue);
}
.filter{
    display: none;
}
.main-section{
    display: flex;
}
.row{
    overflow-y: hidden;
    overflow-x: hidden;
    width: 550px;
    height: calc(100vh - 110px);
    flex-direction: column;
    flex-wrap: nowrap;
}
.row:hover{
    overflow-y: scroll;
}
.message-container{
    width: calc(90vw - 550px);
    margin: 10px auto;
    background-color: var(--white);
    height: calc(100vh - 110px);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    text-align: center;
}
#textarea{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.send-message {
    width: 95%;
    height: 55px;
    background: var(--darkblue);
    margin: 10px 0;
    border-radius: 55px;
    display: flex;
    position: relative;
    padding: 0.8rem;
}
.input-field{
    width: calc(100% - 70px);
}
.input-field input {
    height: 100%;
    width: 100%;
    margin: auto;
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
    color: var(--white);
    font-size: .9rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
.btn-login{
    position: absolute;
    right: 3px;
    top: 6px;
    border: unset;
}
#textarea .get p{
    width: fit-content;
    padding: 5px 10px;
    margin-bottom: 3px;
    background: var(--blue);
    border-radius: 20px;
    color: var(--white);
}
#textarea .send p{
    width: fit-content;
    padding: 5px 10px;
    margin-bottom: 3px;
    background: var(--orange);
    border-radius: 20px;
    color: var(--white);
}
#textarea .send{
    display: flex;
    justify-content: flex-end;
}
#textarea .send, .get{
    width: 90%;
    margin: auto;
}
.bx-send{
    border-radius: 50%;
}
/*********************/
@media only screen and (max-width: 992px) {
    .row{
        width: 30vw;
    }
    .message-container {
        width: calc(90vw - 25vw);
    }
    .search{
        margin: 0;
        width: 98vw;
    }
    .filter{
        display: inline-block;
        position: relative;
        z-index: 9;
    }
    .search-rest.open{
        z-index: 3;
        width: 240px;
        transform: translate(100vw, 0);
        transition: 1s;
    }
    .search-rest{
        position: absolute;
        transform: translate(0,0);
        transition: 2s;
        left: -100vw;
        top: 76px;
        z-index: 3;
    }
    .search-items{
        position: absolute;
        top: 20px;
        left:15px;
        width: 50vw;
        z-index: 3;
    }
    main > .container{
        display: flex;
        flex-direction: column;
        padding:0;
    }
    .items-container{
        width: 100%;
    }
    .sorted{
        margin:0 15px ;
    }
    .view{
        display: none;
    }
    .card{
        flex-direction: column;
        max-height: unset;
    }
    .card img{
        max-width: unset;
    }
    .card.open{
        flex-direction: column;
        max-height: unset;
    }
    .card.open img{
        max-width: unset;
    }  
}
@media only screen and (max-width: 580px) {
    .main-section{
        flex-direction: column;
    }
    .row{
        width: 100vw;
    }
    .message-container{
        width: 100vw;
        height: 98vh;
    }
}
.card-text .card-text-main{
    display: flex;
    justify-content: space-between;
}
.card-text .card-text-main p{
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-text .text{
    height: 51px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    margin-top: 15px;
}
.sorted-option{
    display: flex;
    flex-direction: column;
}
button{
    border:unset;
}
.message-container form{
    width: calc(100% - 20px);
    margin: 10px auto;
    height: calc(100% - 130px);
}
.show{
    display: none;
}
img.card-img-top {
    height: 350px;
    object-fit: cover;
}