body{
    background: url("../img/bg1.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    width: 100%;
}
/*main >.container{
    padding:25px;
    min-width: 100vw;
    transform: translateX(0);
    transition: 2s;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}*/
.item-infos{
    margin: 25px 0;
    display: flex;
    width: 33%;
    justify-content: center;
}
.details{
    padding: 20px 0;
    width: 90%;
    margin: auto;
}
.pics-container{
    height: fit-content;
    width: 33vw;
    background-color: var(--white);
    position: absolute;
    top:0;
    left: -34vw;
    z-index: 8;
}
#hide{
    right: 3%;
    top: 2%;
    background: var(--orange);
    color: var(--white);
}
figcaption{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
h2{
    border-left:3px solid var(--orange);
    padding: 5px;
    font-family: 'Oswald', sans-serif;
}
p{
    display: inline-block;
}
.input-field {
    width: 100%;
    height: 55px;
    background: var(--darkblue);
    margin: 10px 0;
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: .8rem;
}
 .bx {
    position:absolute;
    right: 120px;
}
.bx{
    color: var(--darkblue);
    padding: 10px;
    border-radius: 50%;
    font-size: 1rem;
    background-color:var(--white);
}
.bx-hide{
    display: none;
}
.input-field input{
    height: 100%;
    width: 100%;
    margin: auto;
    background: none;
    outline: none;
    border:none;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
    color: var(--white);
    font-size: .9rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
.input-field input::placeholder{
    color: var(--white);
}
.btn-login:hover{
    color: var(--blue);
    background-color: var(--white);
}
.pics-container img {
    padding: 3px;
    max-width: 100%;
}
@media  screen and (max-width:900px) {
    .item-infos{
        width: 50%;
    }
    .pics-container{
        width: 66vw;
        left: -67vw;
    }
}
@media  screen and (max-width:600px) {
    main >.container{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
    
    }
    .item-infos {
        margin: 25px 0;
        display: flex;
        width: 100%;
        justify-content: start;
    }
    .pics-container{
        width: 100vw;
        left: -101vw;
    }
}
.btn-login{
    color: var(--white);
    max-width: 100px;
    padding: 10px;
    width: 100%;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 55px;
    background-color: var(--orange);
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 5px;
    cursor: pointer;
}
.btn-login:hover{
    color: var(--blue);
    background-color: var(--white);
}
#pics{
    justify-content: flex-end;
    padding: .4rem;
}
label{
    color: var(--white);
    max-width: 200px;
    padding: 10px;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 55px;
    background-color: var(--orange);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pics-container.open{
    left: 0;
    height: 100%;
    overflow-y: scroll;
}
#showPics{
    max-width: unset;
}
select {
    padding: 5px 10px;
    margin: 5px;
    word-wrap: normal;
    width: 100%;
}
textarea{
    margin: 10px 0;
    width: 100%;
    min-height: 100px;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
form{
    padding: 25px;
    min-width: 100vw;
    transform: translateX(0);
    transition: 2s;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}